@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
}

/* 
.text-red-500 {
  color: #fb2c36
} 

.text-5xl {
  font-size: 48px
}
*/

/* .title {
  color: #fb2c36;
  font-size: 48px;
  font-weight: bold;
} */
